<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!-- 
            FINAL COMPATIBILITY FIX:
            Removed unsupported keywords (Encrypt, Trust Server Certificate) 
            to resolve 'Keyword not supported' error on older .NET Framework client.
			
			<add name="AwrDbConnection" connectionString="Data Source=QA-24;Initial Catalog=AwrAppDB;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
	//QA-24 TEST DB 
	<add name="AwrDbConnection"
     connectionString="Data Source=QA-24;Initial Catalog=AwrAppDB;Integrated Security=False;User ID=awr_user;Password=AwrPass123;"
     providerName="System.Data.SqlClient" />
	 
	//QA-8 Official DB location 
		  <add name="AwrDbConnection"
     connectionString="Data Source=QA-8;Initial Catalog=AwrAppDB;Integrated Security=False;User ID=awr_user;Password=AwrPass123;"
     providerName="System.Data.SqlClient" />
        -->
	  <add name="AwrDbConnection"
     connectionString="Data Source=QA-24;Initial Catalog=AwrAppDB;Integrated Security=False;User ID=awr_user;Password=AwrPass123;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Placeholder for future settings -->
    <!-- QA-24 <add key="AwrMasterCsvPath" value="C:\AwrTest\AWR_Issuance_Cumulative_Master.csv" />  -->
    <add key="AwrMasterCsvPath" value="\\192.15.15.100\AWR Request\AWR_Issuance_Cumulative_Master.csv" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>